@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ojuju:wght@200..800&display=swap');

.chatTextArea {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.chatTextArea h2 {
    margin-left: 1rem;
    color: #fff;
}